The following crates were updated to the corresponding versions:

<details>
  <summary>Changed crates: </summary>

- sc-network-types@0.23.3
- hrmp-primitives@0.2.1
- node-primitives@0.2.1
- registrar-primitives@0.2.1
- sc-network-common@48.0.0
- sc-transaction-pool-api@48.0.0
- pallet-hrmp-para@0.2.0
- pallet-hrmp-relay@0.2.0
- pallet-offences@0.2.0
- pallet-registrar-para@0.2.0
- pallet-registrar-relay@0.2.0
- pallet-root-testing@0.58.0
- sc-basic-authorship@0.58.0
- sc-client-api@49.0.0
- sc-hop@0.4.0
- cumulus-client-proof-size-recording@0.5.0
- sc-client-db@0.56.0
- sc-consensus@0.60.0
- sc-network@0.61.0
- sc-tracing@49.0.0
- sc-transaction-pool@49.0.0
- pallet-session@49.0.1
- sc-chain-spec@54.0.0
- sc-consensus-epochs@0.60.0
- sc-consensus-pow@0.60.0
- sc-consensus-slots@0.60.0
- sc-mixnet@0.31.0
- sc-network-light@0.60.0
- sc-network-sync@0.60.0
- sc-offchain@56.0.0
- mmr-gadget@56.0.0
- sc-consensus-aura@0.61.0
- sc-consensus-babe@0.61.0
- sc-informant@0.60.0
- sc-network-gossip@0.61.0
- sc-network-statement@0.44.0
- sc-network-transactions@0.60.0
- sc-rpc-api@0.61.0
- staging-chain-spec-builder@22.0.0
- pallet-collator-selection@30.0.1
- sc-consensus-babe-rpc@0.62.0
- sc-consensus-beefy@40.0.0
- sc-consensus-grandpa@0.46.0
- sc-consensus-manual-seal@0.62.0
- sc-rpc-server@34.0.0
- sc-statement-store@33.0.0
- substrate-frame-rpc-support@57.0.0
- substrate-frame-rpc-system@56.0.0
- substrate-rpc-client@0.61.0
- substrate-state-trie-migration-rpc@55.0.0
- frame-remote-externalities@0.63.0
- sc-rpc@57.0.0
- sc-sync-state-rpc@0.61.0
- pallet-election-provider-multi-phase@52.0.0
- pallet-state-trie-migration@58.0.0
- sc-consensus-beefy-rpc@41.0.0
- sc-consensus-grandpa-rpc@0.47.0
- sc-rpc-spec-v2@0.62.0
- polkadot-rpc@37.0.0
- polkadot-runtime-common@33.0.0
- sc-service@0.63.0
- cumulus-pallet-xcmp-queue@0.34.0
- cumulus-primitives-utility@0.34.0
- pallet-staking-async-rc-runtime-constants@0.15.0
- rococo-runtime-constants@34.0.0
- sc-authority-discovery@0.62.0
- sc-cli@0.64.0
- westend-runtime-constants@34.0.0
- cumulus-client-cli@0.35.0
- parachains-common@38.0.0
- polkadot-node-metrics@35.0.0
- polkadot-node-network-protocol@35.0.0
- rococo-runtime@38.0.0
- staging-node-inspect@0.40.0
- subkey@37.0.0
- testnet-parachains-constants@27.0.0
- westend-runtime@39.0.0
- assets-common@0.39.0
- bp-bridge-hub-cumulus@0.38.0
- collectives-westend-runtime@36.0.0
- coretime-westend-runtime@0.32.0
- glutton-westend-runtime@34.0.0
- parachains-runtimes-test-utils@39.0.0
- people-westend-runtime@0.32.0
- polkadot-node-subsystem-types@35.0.0
- polkadot-voter-bags@39.0.0
- xcm-emulator@0.37.0
- asset-test-utils@41.0.0
- bp-asset-hub-rococo@0.34.0
- bp-asset-hub-westend@0.33.0
- bp-bridge-hub-rococo@0.38.0
- bp-bridge-hub-westend@0.34.0
- penpal-runtime@0.47.0
- polkadot-overseer@35.0.0
- snowbridge-inbound-queue-primitives@0.20.0
- snowbridge-runtime-test-common@0.33.0
- asset-hub-rococo-runtime@0.43.0
- asset-hub-westend-runtime@0.56.0
- bridge-hub-test-utils@0.40.0
- cumulus-relay-chain-interface@0.35.0
- emulated-integration-tests-common@40.0.0
- polkadot-node-subsystem@35.0.0
- snowbridge-pallet-inbound-queue-fixtures@0.39.0
- snowbridge-pallet-inbound-queue-v2-fixtures@0.20.0
- cumulus-client-bootnodes@0.14.0
- cumulus-client-network@0.35.0
- cumulus-client-parachain-inherent@0.29.0
- cumulus-relay-chain-rpc-interface@0.35.0
- cumulus-relay-chain-streams@0.13.0
- polkadot-network-bridge@35.0.0
- polkadot-node-core-chain-api@35.0.0
- polkadot-node-core-parachains-inherent@35.0.0
- polkadot-node-core-pvf@35.0.0
- polkadot-node-core-runtime-api@35.0.0
- polkadot-node-subsystem-util@35.0.0
- snowbridge-pallet-inbound-queue@0.31.0
- snowbridge-pallet-inbound-queue-v2@0.20.0
- bridge-hub-rococo-runtime@0.38.0
- bridge-hub-westend-runtime@0.35.0
- cumulus-client-pov-recovery@0.35.0
- frame-benchmarking-cli@62.0.0
- polkadot-approval-distribution@35.0.0
- polkadot-availability-bitfield-distribution@35.0.0
- polkadot-availability-distribution@35.0.0
- polkadot-availability-recovery@35.0.0
- polkadot-collator-protocol@35.0.0
- polkadot-dispute-distribution@35.0.0
- polkadot-gossip-support@35.0.0
- polkadot-node-collation-generation@35.0.0
- polkadot-node-core-approval-voting@35.0.0
- polkadot-node-core-av-store@35.0.0
- polkadot-node-core-backing@35.0.0
- polkadot-node-core-bitfield-signing@35.0.0
- polkadot-node-core-candidate-validation@35.0.0
- polkadot-node-core-chain-selection@35.0.0
- polkadot-node-core-dispute-coordinator@35.0.0
- polkadot-node-core-prospective-parachains@34.0.0
- polkadot-node-core-provisioner@35.0.0
- polkadot-node-core-pvf-checker@35.0.0
- polkadot-statement-distribution@35.0.0
- cumulus-client-consensus-common@0.35.0
- polkadot-node-core-approval-voting-parallel@0.18.0
- cumulus-client-collator@0.35.0
- cumulus-client-consensus-relay-chain@0.35.0
- polkadot-service@40.0.0
- cumulus-client-consensus-aura@0.35.0
- cumulus-relay-chain-minimal-node@0.40.0
- polkadot-cli@40.0.0
- cumulus-relay-chain-inprocess-interface@0.40.0
- polkadot-jemalloc-shim@0.10.0
- cumulus-client-service@0.40.0
- frame-omni-bencher@0.26.0
- polkadot@39.0.0
- polkadot-omni-node-lib@0.22.0
- polkadot-omni-node@0.22.0
- polkadot-sdk@2606.5.0
- pallet-revive-eth-rpc@0.23.0

</details>
